/* This is for the Index Page and website layout !!! */
body{
	background-color: white;
}

.container{
	margin: 0 auto;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	
}

.contentcontainer{
	margin-bottom: 200px;
	height: auto;
} 

a{
	text-decoration: none;
}

.homepageh1{
	font-family: 'Cinzel', serif;
	font-size: 45px;
	 font-weight: 300;
}


.homepgp{
    font-family: 'Lobster Two', cursive;
	font-size: 17px;
	font-weight: 400;
}

.header{
	height: 80px;
	width: 100%;
	margin-bottom: -21px;
	box-shadow: 1px 25px 7px grey;
	background-color: white;
	
	
}
.logo img{
	float: left;
	width: 160px;
	height: 80px;
	margin-left: auto;
	text-indent: -9999999999999999px;
	background-color: ;
}
.MainHeader{
	float: right;
	width: 83.7%;
	height: 80px;
	background-color: ;
	
} 

.navigation{
	float: right;
	width: 900px;
	border: 1px solid none;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 15px;
	margin-right: 10px;
	
	
}
.navigation ul li{
	float: left;
	margin-right: 18px;
	margin-bottom: 8px;
	text-align: center;
	list-style-type: none;
 }
.navigation ul li a{
	text-decoration: none;
	color: black;	
}
.navigation ul li::after{
	content:'';
	width: 0%;
	height: 2px;
	background-color: grey;
	display: block;
	margin: auto; 
	transition: 0.5s;
}
.navigation ul li:hover::after{
	width: 100%;
}

.Section1{
	float: left;
	width: 100%;
	height: 589px ;
}
.Section1{
	background: url(../Images/restaurant1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.Section1_box{
	float:left;
	width: 42%;
	height: 320px;
	text-align: center;
	background-color: white;
	color: black;
	margin-top:90px;
	margin-left:345px;
	opacity:0.8;
	padding: 40px;
}
.Clickable_Button1 input[type="button"]{
	background-color: black;
	background: transparent linear-gradient(to bottom right, rgba(153,204,255,.7) 25%, rgba(227,2,62,.2) 69%, rgba(49,128,135,.19) 100%);
	color: #333;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	text-shadow: 0 0 2px #1a000d;
	padding: 10px 30px 10px 30px;
	border: 0.5px solid white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	transition: 0.6s;

/* 	text-transform: uppercase; */
}
.Clickable_Button1 input[type="button"]:hover{
	background-color: #bfbfbf;
	border: 0.5px solid black;
	transition: 0.6s;
	border-radius: 25%;


}
.Blank_Placeholder{
	float: left;
	background-color: white;
	width: 100%;
	height: 150px;
	text-align:center;
}
.section2{
	float: left;
	width: 50%;
	height: 350px ;
	background-color: powderblue ;
	color: white;
	font-size: 15px;
	text-align: center;
}

.section3{
	float: left;
	width: 50%;
	height: 350px ;
	background-color: pink ;
	color: white;
	font-size: 15px;
	text-align: center;
}

/* This is for the Products and Services Page!!! */

.Products_and_Services_Section1{
	float: left;
	width: 100%;
	height: 400px ;
}
.Products_and_Services_Section1{
	background: url(../Images/buffet.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}
.Products_and_Services_Section1_box{
	float:left;
	width: 42%;
	height: 200px;
	margin-top: 60px;
	margin-left:345px;
	text-align: center;
	background-color: white;
	color: black;
	opacity:0.8;
	padding: 40px;

}

.Menu_container, .Breakfast_Heading, .Lunch_Heading, .Dinner_Heading, .Dessert_Heading, .Drinks_Heading{
	float: left;
	width: 100%;
	height: auto;
	background: white;
	color: #D9D0B4;
	font-weight: 1200;
	background-image: url('https://i.pinimg.com/originals/98/c8/dd/98c8ddb18b1311c90f9e56e08ad7358d.jpg');
}
.Breakfast_Heading{
	float: left;
	width: 100%;
	height: 100px ;
	text-align: center;
	background-color: white;
}
.Lunch_Heading{
	float: left;
	width: 100%;
	height: 100px ;
	text-align: center;
	background-color: white;
}
.Dinner_Heading{
	float: left;
	width: 100%;
	height: 100px ;
	text-align: center;
	background-color: white;
}
.Dessert_Heading{
	float: left;
	width: 100%;
	height: 100px ;
	text-align: center;
	background-color: white;
}
.Drinks_Heading{
	float: left;
	width: 100%;
	height: 100px ;
	text-align: center;
	background-color: white;
}

.menu_box{
	float: left;
	width: 30%;
	margin: 0px -15px 20px 40px;
	border: 1px solid none;
	background-color: ;
}
.menu_box img{
	float: left;
	width: 100%;
	height: 215px;
	background-size: contain;
	background-position: center;
}
.menu_box_content{
	width: 94%;
	height: auto;
	margin-top: 215px;
	padding: 3px 6px 3px 6px;
	font-size: 17px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	border: 3px outset #FADFCA;
	background-color: #ff355e;
	color: white;
}

.menu_box_content:hover{
	transition: 0.55s;
	background: transparent linear-gradient(to bottom right, rgba(164,0,0,.7) 25%, rgba(227,2,62,.43) 61%, rgba(49,128,135,.19) 120%);

}





/* .imgstatic{
	position: absolute;
	background: white;
}

.imgstatic:hover{
	opacity: 0;
} */


/* This is for the Customer Registration Page!!! */

.Customer_Registration_Section{
	float: left;
	width: 100%;
	height: 400px ;
}
.Customer_Registration_Section{
	background: url(../Images/Customer_Registration.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.Customer_Registration_Section_box{
	float:left;
	width: 42%;
	height: 200px;
	margin-top: 60px;
	margin-left:345px;
	text-align: center;
	background-color: white;
	color: black;
	opacity:0.8;
	padding: 40px;
}

.Blank_Placeholdercustomer{
/* 	font-family: 'Special Elite', cursive;
	font-size: 20px;
	text-align: center;
	padding: 26px;
	line-height: 2.5; */
}

.Blank_Placeholdercustomer ol li{
	list-style-type: none;
	padding: 2px;
	margin:auto;
}

.reglegend{
	text-align: center;
}
form ul li{
	list-style-type:none;
	margin-bottom:50px;
	line-height:20px;
}
form ul li label{
	float:left;
	clear:left;
	width:100px;
	text-align:right;
	margin-right:10px;
	font-size:14px;
	font-family:Verdana, Arial, san-serif;
}
form ul li input, select, span{
	float:left;
	margin-bottom:5px;
}
form ul li textarea{
	float:left;
	width:350px;
	height:150px;
}
[type="submit"]{
	float:left;
	height:30px;
	width:100px;
	margin:50px 50px 1000px 0px;
}
[type="reset"]{
	float:left;
	height:30px;
	width:100px;
	margin:50px 50px 700px 0px;
}	

/* This About Us Section */

.About_Us_Section{
	float: left;
	width: 100%;
	height: 400px ;
}
.About_Us_Section{
	background: url(../Images/AboutUs.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-size: 23px;
}
.About_Us_Section_box{
	float:left;
	width: 42%;
	height: 200px;
	margin-top: 60px;
	margin-left:345px;
	text-align: center;
	background-color: white;
	color: black;
	opacity:0.8;
	padding: 40px;
}
.AboutUs_content_image{
	float: left;
	width: 48%;
	height: 430px ;
	
	background: url(../Images/SEAFOOD.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.Our_Story_Section{
	float: left;
	background-color: white;
	width: 49%;
	height: 396px;
	text-align:center;
	font-size:21px;
	color: black;
	padding:17px;
}
.Mission_Section{
	float: left;
	background-color: white;
	width: 49%;
	height: 396px;
	text-align:center;
	color: black;
	padding:17px;
}
.Mission_Section h1{
	font-size:39px;
}
.Mission_Section p{
	font-size: 20px;
}

.AboutUs_content_image2 img{
	float: left;
	width: 48%;
	height: 430px ;
}

.Our_Team_Section{
	float: left;
	background-color: #fdfff5;
	width: 98%;
	height: auto;
	text-align:center;
	font-size:20px;
	color: black;
	padding:17px;
}
.Our_Team_Section_Heading{
	font-size: 40px;
	font-family: 'Special Elite', cursive;
	color: black;
}
.Our_Team_Section_Heading span{
	font-style: italic;
	font-size: 30px;
}
.Profiles{
	display: flex;
	justify-content: space-around;
	margin: 20px 80px;
}
.Profile{
	flex-basis: 260px;
}
.Profile img{
	width: 300px;
	height: 260px;
	border-radius: 50%;
	cursor: pointer;
}
.name{
	font-size: 27px;
}






/*This is for the Contact Page!!! */

.Contact_Us_Section{
	float: left;
	width: 100%;
	height: 400px ;
}
.Contact_Us_Section{
	background: url(../Images/Contact_us.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center ;
}
.Contact_Us_Section_box{
	float:left;
	width: 42%;
	height: 200px;
	margin-top: 60px;
	margin-left:345px;
	text-align: center;
	background-color: white;
	color: black;
	opacity:0.8;
	padding: 40px;
}
.Keep_In_Touch_container{
	float: left;
	width: 50%;
	height: auto;
	background-color: white;
}
img{
	float:left;
	width: 30px;
	height: 30px;
}
.Keep_In_Touch_Address h2 h4{
	float:left;
	text-align: center;
	color: gold;
}

.ContactUsPage_container{
	float: left;
	width: 50%;
	height: auto;
	background-color: offwhite;
}
/* form{
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	width: 70%;
	height: 300px;
	margin-bottom: 20px;
	border: 4px double gold;
}
form ul li{
	list-style-type: none;
}
form h1{
	text-align:center;
} */
.input_field{
	margin-left:80px;
}
.input_field input{
	width: 250px;
}
.SendButton{
	width: 450px;
	height: 4px;
	text-align: center;
}

/*This is for the Covid-19 Page!!! */

.Covid_19_Section{
	float: left;
	width: 100%;
	height: 400px ;
}
.Covid_19_Section{
	background: url(../Images/Covid_19.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center ;
}
.Covid_19_Section_box{
	float:left;
	width: 42%;
	height: 200px;
	margin-top: 60px;
	margin-left:345px;
	text-align: center;
	background-color: white;
	color: black;
	opacity:0.8;
	padding: 40px;
}


.covid19list{
	list-style: square;
	list-style-position: inside;
	font-size: 18px;
}

.covid19para{
	font-family: 'Special Elite', cursive;
	padding-top: 10px;
	font-size: 15px;
	line-height: 2;
	font-size: 19px;
	font-weight: 700;
}

.Blank_Placeholder{
	font-family: 'Special Elite', cursive;
	font-size: 20px;
}

.Blank_Placeholdercovid19{
	font-family: 'Special Elite', cursive;
	background-image: url('https://cdn.wallpapersafari.com/82/77/CZWfcg.jpg');
	background-size: cover;
	color:  #e5e7e9;
	font-size: 20px;
	line-height: 2;
}

.covidinfo{
}

.covid19textcenter{
	text-align: center;
	font-size: 30px;
}
/*This is for the Faq Page!!! */

.FAQ_Section{
	float: left;
	width: 100%;
	height: 400px ;
}
.FAQ_Section{
	background: url(../Images/FAQ.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center ;
	font-family: Roboto;
}
.FAQ_Section_box{
	float:left;
	width: 42%;
	height: 200px;
	margin-top: 60px;
	margin-left:345px;
	text-align: center;
	background-color: white;
	color: black;
	opacity:0.8;
	padding: 40px;
}

.faqli{
	list-style: none;
}


/* This is the Login Page */

.logheader{
	height: 80px;
	width: 100%;
	margin-bottom: -21px;
	background-color: white;

}

.divimage{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
	
.Login_Form, .Login_Page, .loginbutton{
	list-style-type: none;
	line-height: 3.5;
	text-align: center;
}

.Login_Form label{
padding: 10px;

}

.loginbutton [type="submit"] {
	color: black;
	font-size: 15px;
	background: transparent linear-gradient(to bottom right, rgba(153,204,255,.7) 25%, rgba(227,2,62,.2) 69%, rgba(49,128,135,.19) 100%);
	padding: 10px 30px 10px 30px;
	border: 0.5px solid white;
	transition: 0.5s;
	font: Arial;
}

.loginbutton [type="submit"]:hover{
	transition: 0.5s;
	border: 0.5px collaspe black;
	border-radius: 25%;
	text-shadow: 0 0 2px #1a000d;
}

.loginbutton a{
	font: Arial;
	color: black;
	font-size: 15px;
}
	

/* This is the Footer */
.footer{
	clear: both;
	height: 250px;
	color: grey;
	text-align: center;
	font-size: 17px;
	padding: 25px;

	background: url(../Images/White_footer_swirl.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 1px 5px 7px grey;
}

.footer_section_1{
	float: left;
	width: 20%;
	height: 250px;
}
.Nav_logo img{
	float: left;
	width: 170px;
	height: 195px;
	margin-left: auto;
	text-indent: -9999999999999999px;
}

.footer_section_2{
	float: left;
	width: 20%;
	height: 250px;
}
.footer_section_2 h1{
	text-decoration: underline;
	color: grey;
}
.footer_Nav ul li{
	text-align: center;
	list-style-type: none;
 }
.footer_Nav ul li a{
	text-decoration: none;
	color: grey;	
}

.footer_Nav ul li a:hover{
		background: #BFD1E5;
		transition: 0.5s;
		font-weight: 700;
}

.footer_section_3{
	float: left;
	width: 20%;
	height: 250px;
}
.footer_section_4{
	float: left;
	width: 20%;
	height: 250px;
}
.footer_section_5{
	float: left;
	width: 20%;
	height: 250px;
}


