/* This is for the Index Page and website layout !!! */
body{
	background-color: white;
}

.container{
	margin: 0 auto;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	
}

.contentcontainer{
	margin-bottom: 200px;
	height: auto;
} 

a{
	text-decoration: none;
}


.header{
	height: 80px;
	width: 100%;
	margin-bottom: -21px;
	box-shadow: 1px 25px 7px grey;
	background-color: white;
	
	
}
.logo img{
	float: left;
	width: 165px;
	height: 80px;
	margin-left: auto;
	text-indent: -9999999999999999px;
	background-color: ;
}
.MainHeader{
	float: right;
	width: 83.7%;
	height: 80px;
	background-color: ;
	
} 

.navigation{
	float: right;
	width: 900px;
	border: 1px solid none;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 15px;
	margin-right: 10px;
	
	
}
.navigation ul li{
	float: left;
	margin-right: 18px;
	margin-bottom: 8px;
	text-align: center;
	list-style-type: none;
 }
.navigation ul li a{
	text-decoration: none;
	color: black;	
}
.navigation ul li::after{
	content:'';
	width: 0%;
	height: 2px;
	background-color: grey;
	display: block;
	margin: auto; 
	transition: 0.5s;
}
.navigation ul li:hover::after{
	width: 100%;
}

.Section1{
	float: left;
	width: 100%;
	height: 589px ;
}
.Section1{
	background: url(../Images/restaurant1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.Section1_box{
	float:left;
	width: 42%;
	height: 320px;
	text-align: center;
	background-color: white;
	color: black;
	margin-top:90px;
	margin-left:345px;
	opacity:0.8;
	padding: 40px;
}
.Clickable_Button1 input[type="button"]{
	background-color: black;
	background: transparent linear-gradient(to bottom right, rgba(153,204,255,.7) 25%, rgba(227,2,62,.2) 69%, rgba(49,128,135,.19) 100%);
	color: #333;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	text-shadow: 0 0 2px #1a000d;
	padding: 10px 30px 10px 30px;
	border: 0.5px solid white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	transition: 0.6s;

/* 	text-transform: uppercase; */
}
.Clickable_Button1 input[type="button"]:hover{
	background-color: #bfbfbf;
	border: 0.5px solid black;
	transition: 0.6s;
	border-radius: 25%;


}
.Blank_Placeholder{
	float: left;
	background-color: white;
	width: 100%;
	height: 150px;
	text-align:center;
}
.section2{
	float: left;
	width: 50%;
	height: 350px ;
	background-color: powderblue ;
	color: white;
	font-size: 15px;
	text-align: center;
}

.section3{
	float: left;
	width: 50%;
	height: 350px ;
	background-color: pink ;
	color: white;
	font-size: 15px;
	text-align: center;
}

/* This is for the Products and Services Page!!! */

.Products_and_Services_Section1{
	float: left;
	width: 100%;
	height: 400px ;
}
.Products_and_Services_Section1{
	background: url(../Images/buffet.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.Products_and_Services_Section1_box{
	float:left;
	width: 42%;
	height: 200px;
	margin-top: 60px;
	margin-left:345px;
	text-align: center;
	background-color: white;
	color: black;
	opacity:0.8;
	padding: 40px;
}

.Menu_container{
	float: left;
	width: 100%;
	height: auto;
	background: white;
}
.Breakfast_Heading{
	float: left;
	width: 100%;
	height: 100px ;
	text-align: center;
	background-color: white;
}
.Lunch_Heading{
	float: left;
	width: 100%;
	height: 100px ;
	text-align: center;
	background-color: white;
}
.Dinner_Heading{
	float: left;
	width: 100%;
	height: 100px ;
	text-align: center;
	background-color: white;
}
.Dessert_Heading{
	float: left;
	width: 100%;
	height: 100px ;
	text-align: center;
	background-color: white;
}
.Drinks_Heading{
	float: left;
	width: 100%;
	height: 100px ;
	text-align: center;
	background-color: white;
}

.menu_box{
	float: left;
	width: 30%;
	margin: 0px -15px 20px 40px;
	border: 1px solid none;
	background-color: ;
}
.menu_box img{
	float: left;
	width: 100%;
	height: 215px;
	background-size: contain;
	background-position: center;
}
.menu_box_content{
	width: 95.5%;
	height: auto;
	margin-top: 215px;
	padding: 3px 6px 3px 6px;
	font-size: 14px;
	text-align: left;
	border: 3px solid #F7D677;
	background-color: white;
}


/* This is for the Customer Registration Page!!! */

.Customer_Registration_Section{
	float: left;
	width: 100%;
	height: 400px ;
}
.Customer_Registration_Section{
	background: url(../Images/Customer_Registration.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.Customer_Registration_Section_box{
	float:left;
	width: 42%;
	height: 200px;
	margin-top: 60px;
	margin-left:345px;
	text-align: center;
	background-color: white;
	color: black;
	opacity:0.8;
	padding: 40px;
}

/* This About Us Section */

.About_Us_Section{
	float: left;
	width: 100%;
	height: 400px ;
}
.About_Us_Section{
	background: url(../Images/AboutUs.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.About_Us_Section_box{
	float:left;
	width: 42%;
	height: 200px;
	margin-top: 60px;
	margin-left:345px;
	text-align: center;
	background-color: white;
	color: black;
	opacity:0.8;
	padding: 40px;
}


/*This is for the Contact Page!!! */

.Contact_Us_Section{
	float: left;
	width: 100%;
	height: 400px ;
}
.Contact_Us_Section{
	background: url(../Images/Contact_us.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center ;
}
.Contact_Us_Section_box{
	float:left;
	width: 42%;
	height: 200px;
	margin-top: 60px;
	margin-left:345px;
	text-align: center;
	background-color: white;
	color: black;
	opacity:0.8;
	padding: 40px;
}

/*This is for the Covid-19 Page!!! */

.Covid_19_Section{
	float: left;
	width: 100%;
	height: 400px ;
}
.Covid_19_Section{
	background: url(../Images/Covid_19.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center ;
}
.Covid_19_Section_box{
	float:left;
	width: 42%;
	height: 200px;
	margin-top: 60px;
	margin-left:345px;
	text-align: center;
	background-color: white;
	color: black;
	opacity:0.8;
	padding: 40px;
}

/*This is for the Faq Page!!! */

.FAQ_Section{
	float: left;
	width: 100%;
	height: 400px ;
}
.FAQ_Section{
	background: url(../Images/FAQ.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center ;
	font-family: Roboto;
}
.FAQ_Section_box{
	float:left;
	width: 42%;
	height: 200px;
	margin-top: 60px;
	margin-left:345px;
	text-align: center;
	background-color: white;
	color: black;
	opacity:0.8;
	padding: 40px;
}

.faqli{
	list-style: none;
}





/* This is the Footer */
.footer{
	background-color: #59594A;
	color: white;
	text-align: center;
	font-size: 17px;
	padding: 20px;
	clear: both;
	box-shadow: 1px 5px 7px grey;
}

